// -*- mode: css; tab-width: 2; -*-

.box {
    @include dropbox;
    @include gradient;
    @include side-panel-component;
    &.card-over { @include focused; }
    img { @include card-size; }

    @include gradient;
    border: 1px dashed #9D7C41;

    .overlay {
      background-color: rgba(0,0,0,0);
      position: absolute;
      z-index: 10000;
    }

    .count {
        position: absolute;
        left: 0px;  top: 0px;
        @include border-radius;
        @include transparent;
        padding: 5px;
        padding-top: 3px;
        margin: 5px;
    }
}
