// -*- mode: css; tab-width: 2; -*-

@mixin card-like {
  position: absolute;

  img { @include card-size; }

  &:hover {   
    @include box-shadow($highlight-color, 0px, 0px, 10px);
  }

  &.dragged {  
    @include shadow;
  } 

  &.tapped { @include rotate(90deg);  }
  
  .counters {
    position: absolute;
    left: 0px;
    top: 0px;
    @include transparent;
  }
}

.card  { 
  @include card-like;
}

.token { 
  @include card-like;
  background-image: url('/images/medium-texture.png');

  h1 {
    color: gray;
    overflow: hidden;
    position: relative;
    top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: $card-h / 2;
  }
}

.card-detail {
  @include card-size;
  @include shadow;
}
