// -*- mode: css; tab-width: 2; -*-

@mixin card-like {
  position: absolute;

  @include card-size;
  border: 2px solid black;
  z-index: $card-z-index;

  &:hover {   
    z-index: $top-z-index;
    @include box-shadow($highlight-color, 0px, 0px, 10px);
  }

  &:hover.opponent {
    @include box-shadow($opponent-color, 0px, 0px, 10px);
  }

  &.dragged {  @include box-shadow( rgba(0,0,0,0.5), 10px, 10px, 10px);   } 
  &.tapped { @include rotate(90deg);  }
}

.card  { 
  @include card-like;
}

.token { 
  @include card-like;
  // @include linear-gradient(color-stops(black, green ), bottom);
  background-image: url('/images/medium-texture.png');

  h1 {
    color: gray;
    overflow: hidden;
    position: relative;
    top: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: $card-h / 2;
  }
}

img.card-detail {
  @include card-size;
  @include box-shadow( rgba(0,0,0,0.5), 20px, 20px, 20px);
}
