// -*- mode: css; tab-width: 2; -*-

.card {
  position: absolute;
  @include card-size;
  border: 2px solid black;
  z-index: 1;

  &:hover {   
    z-index: $top-z-index;
    @include box-shadow($highlight-color, 0px, 0px, 10px);
  }

  &:hover.opponent {
    @include box-shadow($opponent-color, 0px, 0px, 10px);
  }

  &.dragged {  @include box-shadow( rgba(0,0,0,0.5), 10px, 10px, 10px);   } 
  &.tapped { @include rotate(90deg);  }
}

img.card-detail {
  @include card-size;
  @include box-shadow( rgba(0,0,0,0.5), 20px, 20px, 20px);
}

