// -*- mode: css; tab-width: 2; -*-

$normal-text-color: #9d7c41;
$highlight-color: #fafeb2;
$opponent-color: #ff0000;

$hand-border-color: #111111;

$page-height: 1400px;
$battlefield-width: 800px;
$side-panel-width: 150px;
$default-border-radius: 5px;
$middle-width: $battlefield-width + 40;

$top_bar_height: 35px;

/* $top-z-index: 100000; */
/* $card-z-index: 500; */
/* $panel-z-index: 300; */
/* $desk-z-index: -1; */
/* $battlefield-z-index: -10; */
/* $infobox-z-index: 3000; */

$top-z-index: 500;
$browser-z-index: 750;
$hand-z-index: 1000;


$card-w : 120px;
$card-h : 170px;
