// -*- mode: css; tab-width: 2; -*-

table { border-collapse: collapse; width: 100%; }
table th, table td { border-bottom: 1px dashed #471c00; padding: 5px; text-align: left; }
table thead th { color: #9d7c41; }
table thead th.keys_column { text-align: center; }
table tbody th { color: #c8b472; font-family: Times, "Times New Roman", Georgia, serif; font-size: 24px; font-weight: normal; text-align: center; }
table tbody td { font-size: 14px; line-height: 1.25em; }

#help {
 @include shadow;
 @include border-radius;
 @include background-image(linear-gradient( color-stops(#311607, #120802 ) ));

 position: absolute; 
 top: 40px; 
 width: 800px; 
 z-index: 9999; 

 border: 1px solid #693e1b;
 border-bottom-color: #471c00;
 border-top-color: #9d7c41;
 color: #999;
 font-size: 16px;
 height: 600px;
 left: 50%;
 margin-left: -400px; 

 h4 { font-size: 24px; font-weight: normal; color: #ccc; }
 .close { position: absolute; right: 40px; top: 53px; }
 strong { background: rgba(48, 0, 0, 0.5); color: #fafeb2; }
}


.margin { 
  background: url('../images/modal-texture.png'); 
  height: 560px; padding: 20px 40px; position: relative; 
}


