// -*- mode: css; tab-width: 2; -*-

#infobox {
 position: fixed;
 top: $top_bar_height;
 heigth: 30px;
 width: 100%;
 padding: 10px;

 background-color: rgba(80, 80, 80, 0.2);
 color: $highlight-color;

 label { color: $highlight-color; }
}

