// -*- mode: css; tab-width: 2; -*-

@mixin transparent($alpha: 0.2) {
  background-color: rgba(0, 0, 0, $alpha);
}

@mixin textured {
  color: $highlight-color;
  background: #61461c url('../images/medium-texture.png');
}

@mixin transparent-white {
  background-color: rgba(1, 1, 1, 0.2);
}

@mixin gradient {
  @include linear-gradient(color-stops(rgba(20, 0, 0, 0.2), rgba(60, 0, 0, 0.4) ));
}

@mixin focused {
  @include linear-gradient(color-stops(  rgba(255, 253, 102, 0.1), rgba(255, 253, 102, 0.07) ));
//  border-color: $normal-text-color;
}



@mixin shadow($size: 20px) {
  @include box-shadow( rgba(0,0,0,0.5), $size, $size, $size);
}


@mixin card-size {
  height: $card-h;
  width: $card-w;
}