@mixin card-mini {
  height: 51px;
  width: 36px; 
}

@mixin card-size {
  height: 170px;
  width: 120px; 
}

@mixin focused {
  background: rgba(48, 0, 0, 0.5);
  border-color: $normal-text-color;
}

@mixin area {
  border: 1px dashed #9D7C41;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(22, 0, 0, 0.246)), to(rgba(22, 0, 0, 0.348)));
  /*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(22, 0, 0, 0.246094)), to(rgba(48, 0, 0, 0.496094))); */
  -webkit-box-shadow: rgba(0, 0, 0, 0.746) 0px 0px 3px; 
}
