// -*- mode: css; tab-width: 2; -*-

@import "compass/reset";
@import "compass/css3";  
@import "compass/css3/transition";

@import "constants";
@import "modules";
@import "buttons";
@import "hand";
@import "lobby";
@import "side_panel";
@import "card";
@import "infobox";
@import "box";


body {
  font-family: Georgia;
  color: white;
  background: #61461c url('../images/brown-texture.png'); 
  height: $page-height;
}

@mixin layout-element {
 position: absolute;
}


#battlefield {
  position: absolute;

  @include border-radius;
  @include layout-element;

  @include gradient;

  width: $battlefield-width;
  margin: auto;
  right: $side-panel-width + 20px;

  
  border: 1px dashed rgba(255, 255, 255, 0.14);
  margin-top: 20px;
  height: $page-height - 60px;
}

.highlight { color: $highlight-color }
.warning   { color: red }

#footer {
 @include layout-element;

 z-index: -1;
 top: $page-height - 50px;
 margin-top: 20px;
 color: gray;
 text-align: center;
 font-size: small;

 width: $battlefield-width - 40px;
 right: $side-panel-width + 40px;

 hr { 
  background-color: black;
  height: 1px;
  border: none;
 }

 a { color: #bdbdbd; text-decoration: none }
 a:hover { color: $highlight-color }
}

 
#side-panel {
  @include panel;
  @include layout-element;

  padding-bottom: 20px;
  right: 0px;
  width: $side-panel-width;
}