// -*- mode: css; tab-width: 2; -*-

@import "compass/reset";
@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/transition";
@import "compass/css3/columns";


@import "constants";
@import "modules";
@import "buttons";
@import "hand";
@import "lobby";
@import "side_panel";
@import "card";
@import "infobox";
@import "chat";
@import "box";
@import "help";
@import "layout";

.button { font-size: 14px; }
.highlight { color: $highlight-color }
.warning   { color: red }

#battlefield {
  @include border-radius;
  border: 1px dashed rgba(255, 255, 255, 0.14);

  .user-area {
      height: 320px;
      background-color: rgba(30, 30, 30, 0.2);
      &.local { background-color: rgba(40, 0, 0, 0.2);}

      .name {
          position: relative;
          top: 1em;
          margin: auto;
          width: 300px;
          font-size: 6em;
          color: rgba(255, 255, 255, 0.05);
      }
  }
}

#footer {
 color: gray;
 text-align: center;
 font-size: small;

 hr {
  background-color: black;
  height: 1px;
  border: none;
 }

 a { color: #bdbdbd; text-decoration: none }
 a:hover { color: $highlight-color }
}

