// -*- mode: css; tab-width: 2; -*-

@mixin side-panel-component {
    position: relative; 
    left: 10px;
}

@mixin panel {
  label {
    position: relative;
    padding-bottom: 5px;
    font-size: smaller;
  }

  border: 0px solid #9D7C41;
  color: $highlight-color;
  background: #61461c url('../images/medium-texture.png');
}

@mixin gradient {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(20, 0, 0, 0.2)), to(rgba(60, 0, 0, 0.4)));
}

@mixin dropbox {
  @include card-size;
  @include border-radius;
  padding: 5px;
}


/*
.ui-accordion .ui-accordion-content {
    @include panel;
    padding: 5px;
}

.ui-accordion .ui-accordion-header {
  @include panel;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(20, 0, 0, 0.2)), to(rgba(60, 0, 0, 0.4))); 
}
*/

#side-panel {

  border-left: 1px dotted #C8B472;

  #users {
    * { margin-bottom: 5px; }
    h3 {
        @include transparent;
        padding: 3px;
    }

    h4 {
        @include side-panel-component;
        margin-bottom: 3px;
        font-size: 80%;
        width: 70%;
        padding: 5px;

        a {
            position: absolute;
            right: 0px;
        }
    }
  }

}

.box {
    @include area;
    @include dropbox;
    @include gradient;
    @include side-panel-component; 
    &.card-over { @include focused; }
    img { @include card-size; }
}

#battlefield {

  // when unpacked
 .box {
   position: absolute;
 }
}