// -*- mode: css; tab-width: 2; -*-

@mixin side-panel-component {
    position: relative; 
    left: 10px;
}

@mixin panel {
  position: relative;

  label {
    position: relative;
    padding-bottom: 5px;
    font-size: smaller;
  }

  border: 0px solid #9D7C41;
  color: $highlight-color;
  background: #61461c url('../images/medium-texture.png');
}

@mixin dropbox {
  @include card-size;
  @include border-radius;
  padding: 5px;
}


#side-panel {

  border-left: 1px dotted #C8B472;

  #users {
    * { margin-bottom: 5px; }
    h3 {
        @include transparent;
        padding: 3px;
    }

    .box-container > h4 {
        @include side-panel-component;
        margin-bottom: 3px;
        font-size: 14px;
        width: 70%;
        padding: 5px;

        a {
            position: absolute;
            right: 0px;
        }
    }
  }

}


