// -*- mode: css; tab-width: 2; -*-

@mixin side-panel-component {
    position: relative; 
    left: 10px;
}

@mixin panel {
  @include textured;

  position: relative;

  label {
    position: relative;
    padding-bottom: 5px;
    font-size: smaller;
  }

  border: 0px solid #9D7C41;
}

@mixin dropbox {
  @include card-size;
  @include border-radius;
  padding: 5px;
}


#side-panel {
  position: absolute;
  top: 0px;
  right: 0px;

  border-left: 1px dotted #C8B472;
//  @include box-shadow( rgba(0,0,0,0.3), -5px, 0px, 5px);

  #users {

    h3 {
        @include transparent;
        padding: 3px;
        input { color: red; }
    }

    .box-container > h4 {
        @include side-panel-component;
        margin-bottom: 3px;
        font-size: 14px;
        width: 70%;
        padding: 5px;

        a {
            position: absolute;
            right: 0px;
        }
    }
  }

}


