#content
  %center.search
    %label
      %input{ :placeholder => 'Search...',  :type => 'search' }

  %table
    %tr
      %td Kvetak, Fontan, Ivan
      %td Waiting for players
      %td
        %a Join

    %tr
      %td Nixon, Bender, Fry
      %td one hour ago
      %td
        %a Watch

    %tr
      %td Hawking, God
      %td Started 10 minutes ago
      %td
        %a Watch
