#content
  %center.search
    %label
      %input{ :value => 'Search...' }

  %table
    %tr
      %thead
        %th Game
        %th Players
        %td

      %tfoot
        %th Game
        %th Players
        %td

    %tr
      %td Eldrazzi Ambush
      %td Nixon, Bender, Fry
      %td
        %a Join
        %a Watch

    %tr
      %td LHC
      %td Hawking, God
      %td
        %a Join
        %a Watch
