#create-card-dialog{:title => "Create Card" }
  %fieldset
    %p
      Create new card by either selecting one from the token list
      or pasting any image URL to the box.

    %br/
    %label{:for => "custom_image_url"} Custom Image URL
    %input.text.ui-widget-content.ui-corner-all{:name => "custom_image_url", :type => "text" }/

    %label{:for => "image_url"} Tokens
    %select{ :name => 'image_url' }
      - TOKENS.each do |key,value|
        %option{ :value => value } #{key}


:javascript
  $(document).ready(function() {

    $("#create-card-dialog").dialog({
      autoOpen: false,
      width: 350,
      modal: false,

      buttons: [ 
          { 
           text: 'Create', 
           click: function() { 
                    var custom_url = $('#create-card-dialog input').val();
                    var token_url =  $('#create-card-dialog select').val();
                    $('#create-card-dialog').dialog('close'); 
                    game.create_card(custom_url ? custom_url : token_url);
                }},
          { text: 'Cancel', click: function() { $('#create-card-dialog').dialog('close'); } }
      ]});
    });
