#footer{ :style => 'display:none' }
  %p
    Textures and design idea shamelessly stolen from
    %a{:href => "http://tappedout.net/"} Tapped Out
    Sorry guys, it was just for the sake of quick development. If it is a problem let me know and I will replace it right away.
