%a{:href => "http://github.com/you"}
  %img{:alt => "Fork me on GitHub", :src => "https://assets0.github.com/img/6429057dfef9e98189338d22e7f6646c6694f032?repo=&url=http%3A%2F%2Fs3.amazonaws.com%2Fgithub%2Fribbons%2Fforkme_left_orange_ff7600.png&path=", :style => "position: absolute; top: 0; left: 0; border: 0;"}/
