#help{:style => "display:none"}
  .margin
    %a.close.button{:href => "javascript:$('#help').hide()"} Close
    %h4 Controls
    %table
      %thead
        %tr
          %th.keys_column Key
          %th Description
      %tbody
        %tr
          %th drag & drop
          %td
            Almost everything

        %tr
          %th left click
          %td Zoom / Unzoom card.

        %tr
          %th right click
          %td Tap / Untap

        %tr
          %th spacebar
          %td Show / Hide hand.

        %tr
          %th t
          %td
            Turn over selected card.

        %tr
          %th m
          %td
            Send chat message to all players.

        %tr
          %th h
          %td Show/Hide help.
