#lobby{:title => "Lobby", :style => 'display: none' }
  #lobby-message.ui-widget{ :style => 'display: none' }
    .ui-state-highlight.ui-corner-all{ :style => 'padding: 0.7em' }
      %p
        %span.ui-icon.ui-icon-info{ :style => 'float:left; margin-right: 0.3em' }
        %strong

  %form
    %fieldset

      %label{:for => "user"} Player
      %input.text.ui-widget-content.ui-corner-all{:name => "name", :type => "text", :value => 'Unknown'}/

      %label{:for => "color"} Color
      %input.text.ui-widget-content.ui-corner-all#color{ :name => 'color', :value => '#fafeb2' }
      #color-picker{ :style => 'display:none' }

      %label{:for => "user"} Library

      %p
        Please use the same format that you can see below. Number of cards and card name
        can be delimited either by ';' or tabulator.

      %textarea#cards.text.ui-widget-content.ui-corner-all{:name => "cards", :rows => 10 }
        :preserve
          2	Culling Dais
          4	Elvish Archdruid
          2	Explore
          20	Forest
          4	Joraga Treespeaker
          4	Joraga Warcaller
          3	Khalni Hydra
          3	Nissa Revane
          4	Nissa's Chosen
          3	Omnath, Locus of Mana
          2	Oran-Rief, the Vastwood
          3	Protean Hydra
          4	Strength of the Tajuru
          2	Whispersilk Cloak

      %label#lobby-progress-message
      #lobby-progress-bar{ :style => 'display:none' }