#card-template
  %div{ :id => 'card-{{id}}', :class => 'card user-{{user_id}}' }
    %img{ :src => "{{image}}" }
      .counters{ :style => 'display:none' } 0
      .power{ :style => 'display:none' }

#handview-template
  %div{ :id => '{{id}}', :class => 'hand' }
    %h2 Hand - {{user.name()}}

#cardbrowser-template
  %div{ :id => '{{id}}', :class => 'card-browser' }
    %h2 {{name}}
    .button-bar
      %a.shuffle-button.button Shuffle
      %a.uncover-button.button Uncover All
      %a.cover-button.button Cover All
      %a.close-button.button Close


#user-stylesheet-template
  :css
    #infobox .user-{{id}} { color: {{color}} }
    .user-{{id}}.card:hover {
     -moz-box-shadow: {{color}} 0px 0px 15px 0;
     -webkit-box-shadow: {{color}} 0px 0px 15px 0;
     -o-box-shadow: {{color}} 0px 0px 15px 0;
     box-shadow: {{color}} 0px 0px 15px 0;
    }

#user-template
  %div{ :id => 'user-{{id}}', :class => 'user' }
    %h3
      %span{ :class => 'name' } {{name}}
      %input.lives{ :value => '{{lives}}' }
    -# %table
    -#   %tr
    -#     %td Hand
    -#     %td 7
    -#   %tr
    -#     %td Library
    -#     %td 100

#user-area-template
  %div{ :class => 'user-area user-{{id}}' }
    .name {{name()}}

#dropbox-template
  .box-container
    %h4
      {{name}}
      %a.browse-button.button Browse
    %div{ :class => "box {{name}}" }
      .count.overlay{ :style => 'display:none' }
      -# .browse.overlay{ :style => 'display:none' } browse


