#card-template
  %div{ :id => 'card-{{id}}', :class => 'card' }
    %img{ :src => "{{image}}" }
      .counters{ :style => 'display:none' }
      .power{ :style => 'display:none' }

#user-template
  %div{ :id => 'user-{{id}}', :class => 'user' }
    %h3
      {{name}}
      {{lives}}

#box-template
  .box-container
    %h4
      $NAME
      %a.browse-button.button Browse
    %div{ :class => "box $TYPE", :id => "$TYPE-$USER_ID" }
      .button-bar
        %h4 $NAME
        %a.shuffle-button.button Shuffle
        %a.uncover-button.button Uncover All
        %a.cover-button.button Cover All
        %a.close-button.button Close
