#card-template
  %div{ :id => 'card-{{id}}', :class => 'card' }
    %img{ :src => "{{image}}" }
      .counters{ :style => 'display:none' } 0
      .power{ :style => 'display:none' }

#handview-template
  %div{ :id => '{{id}}', :class => 'hand' }
    %h2 Hand - {{user.name()}}

#user-template
  %div{ :id => 'user-{{id}}', :class => 'user' }
    %h3
      %span.name {{name}}
      %span.lives {{lives}}

#user-area-template
  %div{ :class => 'user-area user-{{id}}' }
    .name {{name()}}

#dropbox-template
  .box-container
    %h4
      {{name}}
      %a.browse-button.button Browse
    %div{ :class => "box {{name}}" }
      .button-bar
        %h4 $NAME
        %a.shuffle-button.button Shuffle
        %a.uncover-button.button Uncover All
        %a.cover-button.button Cover All
        %a.close-button.button Close
