!!!
%html{:lang => "en"}
  %head
    %title Mana
    -# %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery.ui.all.css", :rel => "stylesheet"}/
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js", :type => "text/javascript"}/
    -# %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", :type => "text/javascript"}/
    -# %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js", :type => "text/javascript"}/

    %script{:src => "/javascripts/vendor/jquery-1.4.4.js", :type => "text/javascript"}
    %script{:src => "/javascripts/vendor/jquery-ui-1.8.6.custom.min.js", :type => "text/javascript"}
    %link{:href => "/stylesheets/humanity/jquery-ui-1.8.6.custom.css", :rel => "stylesheet"}
    %link{:href => "/stylesheets/imageflow.packed.css", :rel => "stylesheet"}

    %script{:src => "/javascripts/vendor/jquery.rightClick.js", :type => "text/javascript"}
    %script{:src => "/javascripts/vendor/mousehold.js", :type => "text/javascript"}
    %script{:src => "/javascripts/vendor/imageflow.packed.js", :type => "text/javascript"}
    %link{:href => "/stylesheets/objects.css", :rel => "stylesheet"}/

    %script{:src => "/javascripts/utils.js", :type => "text/javascript"}
    %script{:src => "/javascripts/game.js", :type => "text/javascript"}
    %script{:src => "/javascripts/commands/tap_command.js", :type => "text/javascript"}
    %script{:src => "/javascripts/commands/turn_command.js", :type => "text/javascript"}
    %script{:src => "/javascripts/commands/move_command.js", :type => "text/javascript"}
    %script{:src => "/javascripts/commands/message_command.js", :type => "text/javascript"}
    %script{:src => "/javascripts/commands/server_command.js", :type => "text/javascript"}
    %script{:src => "/javascripts/card.js", :type => "text/javascript"}
    %script{:src => "/javascripts/dropbox.js", :type => "text/javascript"}
    %script{:src => "/javascripts/battlefield.js", :type => "text/javascript"}
    %script{:src => "/javascripts/hand.js", :type => "text/javascript"}
    %script{:src => "/javascripts/library.js", :type => "text/javascript"}
    %script{:src => "/javascripts/boot.js", :type => "text/javascript"}
    %script{:src => "/javascripts/lobby.js", :type => "text/javascript"}
      
    :javascript
      $(document).ready(function() {
        game = new Game('ws://#{ADDRESS}:#{WEBSOCKET_PORT}','#{@game_id}');
        // lobby_submit();
      });

%body
  = haml(:_lobby, :layout => false)

  #infobox{ :style => 'display:none' }
    %p

  #side-panel
    #users
      #user-local
        %h3 Local
        - box 'graveyard'
        - box 'exile'
        - box('library') do
          %img{ :src => '/images/back.jpg' }/

        -# %ul
        -# %li
        -#   %a#untap-button.button{ :href => "#" } Untap
        -# %li
        -#  %a#shuffle-button.button{ :href => "#" } Shuffle

  #battlefield
    #hand
      %h2 Hand

  #coffin{:style => "display: none"}
    #user-remote-template
      %h3 $USERNAME
      - box 'graveyard-remote', false
      - box 'exile-remote', false
      - box('library-remote', false) do
        %img{ :src => '/images/back.jpg' }/
