!!!
%html{:lang => "en"}
  %head
    %title Mana
    %link{:href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/themes/base/jquery.ui.all.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/objects.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/desk.css", :rel => "stylesheet"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js", :type => "text/javascript"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js", :type => "text/javascript"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendor/jquery.rightClick.js", :type => "text/javascript"}
    %script{:src => "javascripts/game.js", :type => "text/javascript"}
    %script{:src => "javascripts/card.js", :type => "text/javascript"}
    %script{:src => "javascripts/dropbox.js", :type => "text/javascript"}
    %script{:src => "javascripts/deck.js", :type => "text/javascript"}
    %script{:src => "javascripts/utils.js", :type => "text/javascript"}
    %script{:src => "javascripts/boot.js", :type => "text/javascript"}
    %script{:src => "javascripts/vendor/mousehold.js", :type => "text/javascript"}
  %body
    #side-panel
      #graveyard.dropbox.area Graveyard
      #exile.dropbox.area Exile
      #deck.area Deck
      /  <img src="images/back-side.jpg" id="deck" class="card-size" />
    #battlefield.area
      %img#card_42.card{:src => "http://magiccards.info/scans/en/som/21.jpg"}/
      %img#card_43.card{:src => "http://magiccards.info/scans/en/som/25.jpg"}/
      %img#card_44.card{:src => "http://magiccards.info/scans/en/som/26.jpg"}/
    #footnote{:style => "display: none"}
      %p
        Textures and design idea shamelessly stolen from
        = succeed "." do
          %a{:href => "http://tappedout.net/"} Tapped Out
        Sorry guys, it was just for the sake of quick development. If it is a problem let me know and I will replace it right away.
