// -*- mode: css; tab-width: 2; -*-

$top-z-index: 10000;
$normal-text: #9d7c41;
$highlight: #fafeb2;
$page-heigth: 0%;

body {
  font-family: Georgia;
  color: white;
  background: #61461c url('../images/brown-texture.png'); }

   #hand-toggle {
    position: absolute;
    bottom: 10px;
    left: 20px; 
   }

   #desk {
     position: absolute;
     top: 0px;
     left: 0px;
     bottom: 0px;
     right: 0px; 
   }

   #infobox {
    position: absolute;
    top: 0px;
    height: 30px;
    padding-left: 10px;
    padding-top: 5px;
    color: $normal-text;

    label {
        color: $highlight;
    }
  }

   #battlefield {
     position: absolute;
     top: 30px;
     bottom: $page-heigth;
     left: 10px;
     right: 170px;
     z-index: 1; 
    }
 
#side-panel {
  position: absolute;
  bottom: 0px;
  right: 0px;
  top: 0px;
  bottom: $page-heigth;
  width: 160px;
  background: #61461c url('../images/medium-texture.png');
  border-left: 1px dotted #C8B472;
  -webkit-box-shadow: black 0px 0px 3px; 

  label {
    margin-left: 5px;
    font-size: smaller;
  }
}

.area {
  border: 1px dashed #9D7C41;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(22, 0, 0, 0.246)), to(rgba(22, 0, 0, 0.348)));
  /*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(22, 0, 0, 0.246094)), to(rgba(48, 0, 0, 0.496094))); */
  -webkit-box-shadow: rgba(0, 0, 0, 0.746) 0px 0px 3px; }

#graveyard.card-over, #exile.card-over {
  background: rgba(48, 0, 0, 0.5);
  border-color: $normal-text;
}

#battlefield.card-over,
#hand.card-over
{

  border-style: dotted; 
}

#library {
  position: absolute;
  left: 10px; 
  bottom: 45px;
}


.dropbox {
  left: 10px;
  margin: 5px;
  padding: 5px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(20, 0, 0, 0.2)), to(rgba(60, 0, 0, 0.4))); }

#graveyard {
  top: 10px; }

#exile {
  top: 200px; }


#hand {
  position: absolute;

  border: 1px dotted black;
  bottom: 70px;
  height: 170px;
  left: 20px;
  right: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2000; 
}

a.button:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c8b472), to(#693e1b));
  border-top-color: white;
  color: white; }

.button {
  -webkit-box-shadow: rgba(0, 0, 0, 0.746) 0px 0px 3px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9d7c41), to(#693e1b));
  border: 1px solid #C8B472;

  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px;

  border-top-color: #C8B472;
  color: #FAFEB2;
  padding: 2px 4px 2px 2px;
  text-align: center;
  text-decoration: none;
  text-shadow: black 1px 1px 1px; }

.card {
  border: 2px solid black;
  position: absolute;

  &:hover {
    border: 2px solid $highlight;
    z-index: $top-z-index;
  }

  &.dragged {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 0px; 
  } 

}

.card-size {
  height: 170px;
  width: 120px; 
}

.card-detail {
  height: 340px;
  width: 240px;
  z-index: 10000;
}

.tapped {
  rotation: 90deg;
  -webkit-transform: rotate(90deg); }

.rounded-borders {
  border-bottom-left-radius: 4px 4px;
  border-bottom-right-radius: 4px 4px;
  border-top-left-radius: 4px 4px;
  border-top-right-radius: 4px 4px; }
