body {
  font-family: Georgia;
  color: white;
  background: #61461C url('../images/brown-texture.png');
}


#desk {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

#side-panel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    top: 0px;
    width: 160px;

    background: #61461C url('../images/medium-texture.png');
    border-left: 1px dotted #C8B472;

    -webkit-box-shadow: black 0px 0px 3px;
}


#battlefield {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 170px;
  z-index: 1;
}


.area {
  border: 1px dashed #9D7C41;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(22, 0, 0, 0.246094)), to(rgba(22, 0, 0, 0.347656)));
/*  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(22, 0, 0, 0.246094)), to(rgba(48, 0, 0, 0.496094))); */
  -webkit-box-shadow: rgba(0, 0, 0, 0.746094) 0px 0px 3px;
}

#graveyard.card-over,
#exile.card-over,
#hand.card-over,
#battlefield.card-over
{
    border-color: red;
}


/* #graveyard, #exile, #deck { */
.dropbox, #deck {
    left: 10px;
    margin: 5px;
    padding: 5px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(20, 0, 0, 0.2)), to(rgba(60, 0, 0, 0.4)));
}

#graveyard { top: 10px; }
#exile { top: 200px; }
#deck { top: 390px; }

#hand {
  border: 1px dotted black;
  position: absolute;
  bottom: 20px;
  height: 170px;
  left: 20px;
  right: 20px;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2000;
}


.card  { 
 position: absolute;
}

.card.dragged {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 0px;
}

.card-size {
  height: 170px;
  width: 120px;
}

.tapped { 
  rotation: 90deg;
  -webkit-transform: rotate(90deg);
}

.rounded-borders {
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
}

