#graveyard, #exile, #deck {
    left: 10px;
    margin: 5px;
    padding: 5px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(20, 0, 0, 0.2)), to(rgba(60, 0, 0, 0.4)));
}

#graveyard { top: 10px; }
#exile { top: 200px; }
#deck { top: 390px; }


.card  { 
}

.card.dragged {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 0px;
}

.card-size {
  height: 170px;
  width: 120px;
}

.tapped { 
    rotation: 90deg;
    -webkit-transform: rotate(90deg);
}

.rounded-borders {
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
}

