.card  { height: 20px;  }
.normal { height: auto;  }

.card.dragged {
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 15px 15px 0px;
}

.card-size {
  height: 171px;
  width: 120px;
}

.tapped { 
    rotation: 90deg;
    -webkit-transform: rotate(90deg);
}

.rounded-borders {
    border-bottom-left-radius: 4px 4px;
    border-bottom-right-radius: 4px 4px;
    border-top-left-radius: 4px 4px;
    border-top-right-radius: 4px 4px;
}

