.small  { height: 200px;  }
.normal { height: auto;  }

.tapped { 
    rotation: 90deg;
    -webkit-transform: rotate(90deg);
}

#graveyard {
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#graveyard.selected { 
    background-color: red; 
}
