/*
  Temporary design stolen from - http://www.css3maker.com/
*/
/* line 12, ../../app/assets/stylesheets/home.css.scss */
.orange {
  color: #ffa500;
}

/* line 16, ../../app/assets/stylesheets/home.css.scss */
body {
  background-image: url(/assets/wood_grey.jpg);
  min-height: 2000px;
}
/* line 17, ../../app/assets/stylesheets/home.css.scss */
body #content {
  width: 1000px;
  margin: auto;
}

/* line 23, ../../app/assets/stylesheets/home.css.scss */
.search input {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 2em;
  font-size: 40px;
  color: rgba(255, 165, 0, 0.4);
}

/* line 37, ../../app/assets/stylesheets/home.css.scss */
h1 {
  color: white;
  text-align: center;
  width: 600px;
  font-size: 135px;
  margin: 0px auto;
  text-shadow: 0px 5px 3px black;
}
/* line 47, ../../app/assets/stylesheets/home.css.scss */
h1 super {
  position: relative;
  left: 125px;
  top: -110px;
  text-shadow: 1px 1px 0px black;
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
}
/* line 56, ../../app/assets/stylesheets/home.css.scss */
h1 sub {
  position: relative;
  left: -0.5em;
  font-size: 55%;
  color: #ffa500;
}

/* line 65, ../../app/assets/stylesheets/home.css.scss */
ul.hmenu {
  background-color: rgba(0, 0, 0, 0.2);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transform: rotate(30deg);
  text-align: center;
  position: fixed;
  right: 0px;
  top: 2em;
  font-size: 20px;
  margin: 40px;
  margin: 0px;
  padding: 0.4em;
}
/* line 84, ../../app/assets/stylesheets/home.css.scss */
ul.hmenu li {
  display: inline;
}
/* line 87, ../../app/assets/stylesheets/home.css.scss */
ul.hmenu li a {
  color: white;
  text-shadow: 0px 1px 0px black;
  text-decoration: none;
  color: white;
}
/* line 89, ../../app/assets/stylesheets/home.css.scss */
ul.hmenu li a:visited {
  color: white;
}
/* line 90, ../../app/assets/stylesheets/home.css.scss */
ul.hmenu li a:hover {
  color: #ffa500;
}

/* line 100, ../../app/assets/stylesheets/home.css.scss */
table {
  margin: auto;
  width: 800px;
  color: white;
  font-size: 24px;
}
/* line 106, ../../app/assets/stylesheets/home.css.scss */
table tr {
  borders: 1px solid red;
}
/* line 110, ../../app/assets/stylesheets/home.css.scss */
table tr td, table tr th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
/* line 115, ../../app/assets/stylesheets/home.css.scss */
table tr td:last-child {
  text-align: center;
}
/* line 116, ../../app/assets/stylesheets/home.css.scss */
table tr td:last-child a {
  color: #ffa500;
}
