#help{:style => "display:none"}
  .margin
    %a.close.button{:href => "javascript:$('#help').hide()"} Close
    %h4 Controls
    %table
      %thead
        %tr
          %th.keys_column Key
          %th Description
      %tbody
        %tr
          %th left click
          %td Show card detail (note that you can leave it open & drag it around)

        %tr
          %th right click
          %td Tap / Untap

        %tr
          %th c,C p,P t,T
          %td
            +/- Counters, Power, Toughness of the selected card.

        %tr
          %th u
          %td
            Cover/uncover selected card.

        %tr
          %th t
          %td
            Transform selected card (if possible).

        %tr
          %th spacebar
          %td Show / Hide hand.

        %tr
          %th m
          %td
            Focus chat (and send message).

        %tr
          %th a
          %td
            Open card/token creation dialog.

        %tr
          %th h
          %td Show/Hide this help.

        %tr
          %th drag & drop
          %td
            Almost everything else



