#help{:style => "display:none"}
  .margin
    %a.close.button{:href => "javascript:$('#help').hide()"} Close
    %h4 Controls
    %table
      %thead
        %tr
          %th.keys_column Key
          %th Description
      %tbody
        %tr
          %th drag & drop
          %td
            almost everything

        %tr
          %th LMB card
          %td Show card detail (note that you can leave it open & drag it around)

        %tr
          %th RMB card
          %td Tap / Untap

        %tr
          %th RMB battlefield
          %td Tap/untap of all cards in a row

        %tr
          %th LMB battlefield
          %td Show / Hide hand

        %tr
          %th c/C, p/P, t/T
          %td
            +/- Counters, Power, Toughness of the selected card.

        %tr
          %th U
          %td
            Cover/uncover selected card.

        %tr
          %th T
          %td
            Transform selected card.

        %tr
          %th spacebar
          %td Show / Hide hand.

        %tr
          %th Escape
          %td
            Show / Hide chat.

        %tr
          %th A
          %td
            Add token on the battlefield.

        %tr
          %th H
          %td Show/Hide this help.


  #footer
    %p
      Textures and design idea shamelessly stolen from
      %a{:href => "http://tappedout.net/"} Tapped Out
      (sorry guys, it was just for the sake of quick development and is scheduled for future replace).
      The information presented on this site about Magic: The Gathering, both literal and graphical, is copyrighted by Wizards of the Coast.
      This website is not produced, endorsed, supported, or affiliated with Wizards of the Coast.

    %br

    %p.highlight
      \-
      %a{ :href => 'https://github.com/HakubJozak/mana', :target => '_blank' } Homepage
      \-
      %a{ :href => 'http://rubyonrails.org/', :target => '_blank' } Rails
      \-
      %a{ :href => 'http://rubyeventmachine.com/', :target => '_blank' } EM
      \-
      %a{ :href => 'http://www.mongodb.org/', :target => '_blank' } MongoDB
      \-
      %a{ :href => 'http://compass-style.org/', :target => '_blank' } Compass
      \-
      %a{ :href => 'http://jquery.com/', :target => '_blank' } jQuery
      \-
      %a{ :href => 'http://documentcloud.github.com/backbone/', :target => '_blank' } Backbone.js
      \-
      %a{ :href => 'http://documentcloud.github.com/underscore/' } Underscore.js

    %br
