#card-template
  %div{ :class => 'card user-{{user_id}}', :"data-id" => '{{id}}' }
    .debug DEBUG
    %ul.menu{ :style => 'display:none' }
    %img{ :src => "/assets/back.jpg" }
    .counters{ :style => 'display:none' } 0
    .power{ :style => 'display:none' }


#card-detail-template
  .detail
    %ul.menu{}
      %li
        %a.button{ :class => '', :href => "{{url}}" , :title => 'Open MagicCards.info page in a new window', :target => '_blank' }
          MagicCards.info
      %li
        %a.button{ :class => 'close-button', :title => 'Close', :href => "#" }
          Close

    %img{ :src => "{{image_url}}" }


#menu-item-template
  %li
    %a.button{ :class => '{{clazz}}', :title => '{{title}}', :href => "#" }
      {{name}}

#handview-template
  %div{ :id => '{{id}}', :class => 'hand' }
    %h2 {{user.name()}}'s {{title}}
    .button-bar
      %a.mulligan-button.button Mulligan
    .button-bar.right
      %a.close-button.button Close
    .container

-# HACK: it has to be table or browser cleans up trs and tds and template is empty
#battlefield-local-part-template
  %table
    %tbody
      - 2.times do |y|
        %tr
          - 8.times do |x|
            %td{ :id => "grid-#{x}-#{y}-{{id}}" }

-# HACK: it has to be table or browser cleans up trs and tds and template is empty
-# TODO: DRY
#battlefield-remote-part-template
  %table
    %tbody
      - 2.times do |y|
        %tr
          - 8.times do |x|
            %td{ :id => "grid-#{8-x-1}-#{2-y-1}-{{id}}" }



#cardbrowser-template
  %div{ :id => '{{id}}', :class => 'card-browser {{name}}' }
    .container

#message-template
  %li
    %span.message{ :class => "message user-{{user.id}}" }
      {{user.name()}}
    {{message}}

#user-stylesheet-template
  :css
    .message.user-{{id}} { color: {{color}} }
    .user-{{id}}.card:hover {
     -moz-box-shadow: {{color}} 0px 0px 15px 0;
     -webkit-box-shadow: {{color}} 0px 0px 15px 0;
     -o-box-shadow: {{color}} 0px 0px 15px 0;
     box-shadow: {{color}} 0px 0px 15px 0;
    }

#user-template
  %div{ :id => 'user-{{id}}', :class => 'user' }
    %h3.name {{name}}
    %table
      %tr
        %th Lives
        %td
          %a.button.small.plus  +
          %a.button.small.minus &nbsp;-&nbsp;
        %td
          %form
            %input.lives{ :value => 20 }

      %tr
        %th Hand
        %td{ :colspan => 1 }
        %td
          %input.hand-size{ :disabled => true }


#user-area-template
  %div{ :class => 'user-area user-{{id}}' }
    .name {{name()}}

#dropbox-template
  .box-container{:class => '{{name}}-container'}
    %h4
      %a.browse-button.button{:href => '#'} {{title}}
      %a.shuffle-button.button{:href => '#' } Shuffle
    %div{ :class => "box {{name}}" }
      .counter.overlay 0
