#content
  #search-box
    %label
      %input{ :placeholder => 'Find a Game...',  :type => 'search' }

  %table{ :title => 'Games' }
    %tr
      %th Name
      %th= link_to 'Create', new_game_path

    - @games.each do |game|
      %tr
        %td= link_to game.name, game_path(game)
        %td= link_to 'Join', game
        -# %td= link_to 'Edit', edit_game_path(game)

%br


