/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

@import "compass";


ul.hmenu {
  position: fixed;
  left: 0px;
  top: 0px;

  background-color: grey;
  text-align: left;
  width: 100%;

  margin: 0px;
  padding: 0.4em;

  li {
    display: inline;

    a {
      text-decoration: none;
      color: white;
    }
  }
}
