/*
  Temporary design stolen from - http://www.css3maker.com/
*/

@import 'constants';
@import 'compass/css3';


a {
 &:visited { color: white }
}

body {
  #content { width: $content-width; margin: auto; }

  background-image: url(/assets/wood_grey.jpg);
  min-height: 2000px;
  color: white;
}

h1.hyper {
 text-align: center;
 width: 600px;
 font-size: 135px;
 text-shadow: 0px 5px 3px black;

 a { text-decoration: none }
 .orange { color: $orange; }

 super {
   position: relative;
   left: 125px;
   top: -110px;
   text-shadow: 1px 1px 0px black;
   color: transparentize($white, 0.6);
   font-size: 20px;
 }

 sub {
   position: relative;
   left: -0.5em;
   font-size: 55%;
   color: $orange;
 }
}


ul.hmenu {
//  @include shadow;
  @include transparent;
  @include border-radius;

// -webkit-transform: rotate(30deg);

 text-align: center;
  position: fixed;
  right: 0px;
  top: 2em;
  font-size: 20px;
  margin: 40px;


   margin: 0px;
  padding: 0.4em;

  li {
    display: inline;

    a {
      color: $white;
      &:visited { color: white }
      &:hover { color: $orange; }

      @include text-shadow;
      text-decoration: none;
      color: $white;
    }
  }
}






