#outer
  #cards.inner
    - CardStamp.random(7).each do |card|
      = link_to image_tag(card.image_url), card.url, :target => '_blank'

#button-bar
  = link_to 'New Game', new_game_path, :class => 'button'
  = link_to 'Join a Game', games_path, :class => 'button'




