#outer
  #cards.inner
    - CardStamp.random(7).each do |card|
      %img{ :src => card.image_url }/

#button-bar
  = link_to 'New Game', new_game_path, :class => 'button'
  = link_to 'Join a Game', games_path, :class => 'button'




