#cards
  %img{ :src => CardStamp.random.image_url }/
  %img{ :src => CardStamp.random.image_url }/
  %img{ :src => CardStamp.random.image_url }/
  %img{ :src => CardStamp.random.image_url }/
  %img{ :src => CardStamp.random.image_url }/
  %img{ :src => CardStamp.random.image_url }/
  %img{ :src => CardStamp.random.image_url }/

#button-bar
  = link_to 'New Game', new_game_path, :class => 'button'
  = link_to 'Join a Game', games_path, :class => 'button'




