#cards
  %img{ :src => "http://magiccards.info/scans/en/cfx/138.jpg" }/
  %img{ :src => "http://magiccards.info/scans/en/cfx/139.jpg" }/
  %img{ :src => "http://magiccards.info/scans/en/cfx/140.jpg" }/
  %img{ :src => "http://magiccards.info/scans/en/cfx/141.jpg" }/
  %img{ :src => "http://magiccards.info/scans/en/cfx/142.jpg" }/
  %img{ :src => "http://magiccards.info/scans/en/cfx/143.jpg" }/
  %img{ :src => "http://magiccards.info/scans/en/cfx/144.jpg" }/

#button-bar
  = link_to 'New Game', new_game_path, :class => 'button'
  = link_to 'Join a Game', games_path, :class => 'button'




