@import "compass/css3";

$highlight-color: #fff68f;
$bars-color: #800028;
$card-over-color: rgba(0,0,0,0.1);
$card-over-border: $bars-color;


body {
 background-color: white;
}

.desk {
  background-color: white;
}

.controls {
  background-color: #eeeee0;
}

.decks {
}

.status {
 background-color: $bars-color;
 color: white;
 a { color: white; }
}

.card {
  &:hover {
    @include box-shadow($highlight-color 0px 0px 10px);
  }
}


.slot {
//  border: 1px dashed rgba(0,0,0,0);
  &.card-over {
//    border: 1px dashed $card-over-border;
    background-color: $card-over-color;
  }
}

.browser {
  background-color: #fbeecb;
  &.card-over { background-color: $card-over-color; }
}

.pile-container {
  h2 {
    margin: 2px;
    font-size: small;
    text-align: center;
  }

  background-color: #f6d784;
  &.card-over { background-color: $card-over-color; }

  .pile {  }
}


.chat {
  background-color: #eee;
}


.tables, .table {
  background-color: #ffc;
}

#popup {
  background-color: rgba(0,0,0,0.3);

  h1,h3 { color: $bars-color; }

  .content {
    background-color: white;
    border: 3px solid $bars-color;
  }
}