$card-over-color: #fff;

body {
 background-color: #fff;
}

.desk {
  background-color: #fff68f;
}

.controls {
  background-color: #eeeee0;
}

.decks {
}

.status {
 background-color: black;
 color: white;
}

.slot{
  background-color: #ffb90f;
  &.card-over { background-color: $card-over-color; }
}

.browser {
  background-color: #fbeecb;
  &.card-over { background-color: $card-over-color; }
}

.chat {
  background-color: #caff70;
}


.pile {
  &:nth-child(2n+1) { background-color: #ea9; }
  &:nth-child(2n) { background-color: #f6d784; }
}

.tables, .table {
  background-color: #ff6;
  &:nth-child(2n+1) { }
}