// -*- mode: css; tab-width: 2; -*-

@import "compass";
@import "susy";
@import "compass/layout/stretching";

// $cardw: 80px;
// $cardh: 116px;
$chat-height: 150px;
// $components-margin: 0.2em;

$susy: (
  columns: 12,
  gutters: 0.1,
  gutter-position: inside,
  math: float,
);

.desk {
  @include container;
  min-width: 960px;
}

.controls {
  @include span(4 of 12);
  @include clearfix;

  .browser {
  }

  .slot  {
     @include gallery(1 of 4,'of-type');
  }

  // makes dragged cards visible
  overflow: visible;
}

.table {
  @include span(8 of 12 last);

  .status {
    @include span(8 of 8 last);
    @include clearfix;
  }

  .slot {
    // if the selector is not 'of-type' then the Ember <script> tags screw the layout
    @include gallery(1 of 8,'of-type');
    position: relative;
    list-style: none;
    padding: 0;

    li:nth-child(n+2) {
      position: absolute;
      top: 20px;
    }

    @for $i from 2 through 10 {
      li:nth-child(#{$i}) { top: 30px * ($i - 1); }
    }


    img {
      display: inline;
      position: relative;
      left: 0;
    }
  }

  // makes dragged cards visible
  overflow: visible;
}

.decks, .chat, .browser {
  @include span(4 of 4);
}

.slot {
  img { width: 100%; height: 100%; }
  margin-top: 5px;
}

.pile-container {
   @include gallery(1 of 4,'of-type');

  .bottom {
    position: relative;
    img {
       top: 0;
      left: 0;
      width: 100%; height: 100%;
    }
  }

  .pile {
    img { width: 100%; height: 100%; }
    position: absolute;
    top: 0;
  }
}

.status {
  height: 1.2em;
  text-align: right;
  padding: 0.2em;
}

.chat {
  form, .messages { width: span(4 of 4)  }

  input[type=text] { width: 80%; }
  input[type=submit] { }

  .messages-container {
    overflow-y: scroll;
    height: $chat-height;
  }

  .messages {
    th {
      text-weight: bold;
      text-align: right;
    }
  }
}
