@import 'compass/css3';

$popup-top: 3em;

#popup {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .content {
    $padding: 1em;

     position: relative;
     padding: $padding;
     margin: $popup-top auto 0;
     width: 50%;

     .topbar {
       position: absolute;
       top: $padding;
       right: $padding;
     }

     .card-image {
       @include inline-block;
       img { height: 450px; }
     }

     .info {
       @include inline-block;
       vertical-align: top;
       font-size: 18px;
       padding-left: 2em;

       h1 { margin-top: 0; }
       h3 { margin-bottom: 0.1em; }
       table {
         width: 100%; text-align: center;
       }
     }
  }
}


.plus-minus:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: ns-resize;
}
