!!!
%html{:lang => "en"}
  %head
    %title= "Mana - #{@game.name}"
    = stylesheet_link_tag 'client'
    = javascript_include_tag 'client'

%body
  #content
    #control-panel
    .right
      #chat
      #opponents
      #me