!!!
%html{:lang => "en"}
  %head
    %title= "Mana - #{@game.name} - haml"
    = stylesheet_link_tag 'client'
    = javascript_include_tag 'client'
%body{ 'data-no-turbolink' => true }
  #ember-app
  -# .desk
  -#   .controls
  -#     .browser
  -#       .status
  -#         %select#browser_selector{:name => ""}
  -#           %option{:selected => "selected", :value => "1"} Kolohnat's
  -#           %option{:value => "2"} Smrada's
  -#           %option{:value => "3"} Pajda's
  -#           %option{:value => "4"} Kokta's
  -#         %select#hand_1{:name => "hand"}
  -#           %option{:value => "hand"} Hand
  -#           %option{:value => "graveyard"} Graveyard
  -#           %option{:value => "library"} Library
  -#       .cards
  -#         - 2.times do
  -#           - 4.times do
  -#             .slot
  -#               = image_tag 'empty.png'
  -#     .decks
  -#       .status
  -#         Decks
  -#       .piles
  -#         .pile
  -#           = image_tag 'back.jpg'
  -#           %button.pile-label Library: 53
  -#         .pile
  -#           = image_tag 'back.jpg'
  -#           %button.pile-label Grave: 4
  -#         .pile
  -#           = image_tag 'back.jpg'
  -#           %button.pile-label Exile: 4
  -#         .pile
  -#           %button.next-turn
  -#             Next
  -#             Turn
  -#     .chat
  -#       .status
  -#         Chat
  -#       %input{:placeholder => "Say..."}/
  -#       %br/
  -#       %pre
  -#         :preserve

  -#           Kolohnat: let's play
  -#           Smrada: wait
  -#           Kolohnat: ok
  -#           Kolohnat: ok
  -#           Smrada has left the game.
  -#           Kolohnat: ok
  -#   .tables
  -#     .table
  -#       .status
  -#         Player 1
  -#       .slots#ember-app
  -#     .table
  -#       .status
  -#         Player 2 - Me
  -#       .slots
