@import "compass/reset";
@import "compass/css3";

@import "constants";
@import "components";



#desk {
  position: absolute;
  left: $side-panel-width;
  right: $side-panel-width;
  top: 1em;
  bottom: 1em;

  #battlefield  {
    position: relative;
    height: 100%;
    width: 100%;

    table {
      @include no-text-select;
      @include border-radius;

      float: left;
      background-color: rgba(0, 0, 0, 0.24);
      border: 1px solid rgba(0, 0, 0, 0.24);
      border: collapse;
      height: 47%;
      margin-bottom: 2em;

      caption {
        display: inline;
        position: relative;
        left: 5px;
      }

      tbody.rotated {
        .card img { @include rotate(180deg);  }
      }

      tr {
        border: none; // 1px dashed gray;

        td {
            position: relative;
            border: none; // 1px dashed gray;
            // @include card-size;
            &.card-over { @include focused; }
            .card { position: absolute; }
        }
      }
    }

    .battlefield-menu {
      li {
        position: absolute;
        top: 0px;
        right: 0px;
        display: inline;
        margin: 3px 3px 3px 3px;
        color: $orange;
        text-align: center;
        font-size: 25px;
      }
    }

  }
}