@import "compass/reset";
@import "compass/css3";

@import "constants";
@import "components";



#desk {
  position: absolute;
  left: $side-panel-width;
  right: $side-panel-width;
  top: 1em;
  bottom: 1em;

  #battlefield  {
    height: 100%;
    width: 100%;
  }

  #battlefield table {
    @include no-text-select;
    @include border-radius;

    position: relative;
    background-color: rgba(0, 0, 0, 0.24);
    border: 1px solid rgba(0, 0, 0, 0.24);
    border: collapse;
    height: 50%;

    .local {
    }

    tbody.rotated {
      .card img { @include rotate(180deg);  }
    }

    tr {
      border: none; // 1px dashed gray;

      td {
        position: relative;
        border: none; // 1px dashed gray;
        // @include card-size;
        &.card-over { @include focused; }
        .card { position: absolute; }
      }
    }
  }
}