// -*- mode: css; tab-width: 2; -*-

@import "compass/css3";
@import 'components';
@import 'constants';

.box {
    @include dropbox;
    @include gradient;
    @include side-panel-component;
    &.card-over { @include focused; }
    img { @include card-size; }

    @include gradient;
    border: 1px dashed #9D7C41;

    .counter {
      @include border-radius;
      position: absolute;

      left: 3px;
      top: 3px;
      background-color: rgba(0,0,0,0.7);
      padding: 5px;
      padding-top: 3px;
      margin: 5px;
      z-index: 10000;
    }
}
