// -*- mode: css; tab-width: 2; -*-

@import "compass/css3";
@import "../shared";

.button {
  @include border-radius;
  @include gradient-button( #9d7c41, #693e1b);

  &:hover {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c8b472), to(#693e1b));
    border-top-color: white;
    color: white;
  }

}
