// -*- mode: css; tab-width: 2; -*-

@import "compass/css3";
@import "constants";
@import "components";

#top-panel {
  @include textured;

  padding: 7px 7px 7px 7px;
  font-size: 20px;

  input.chat-input {
      @include border-radius;

      background: rgba(48, 0, 0, 0.5);
      border: 1px solid #693e1b;
      color: #c8b472;

      width: 95%;
      font-size: 20px;
      line-height: 1.5;
  }

  .button {
  }
}



