
@mixin no-text-select {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

@mixin opaque {
  @include border-radius;
  background-color: rgba(128, 128, 128, 0.45);
}

@mixin transparent($alpha: 0.2) {
  background-color: rgba(0, 0, 0, $alpha);
}

@mixin textured {
  color: $highlight-color;
  background: #61461c image-url('medium-texture.png');
}

@mixin transparent-white {
  background-color: rgba(1, 1, 1, 0.2);
}

@mixin gradient($c1: rgba(20, 0, 0, 0.2), $c2: rgba(60, 0, 0, 0.4)) {
  @include background-image(linear-gradient(color-stops( $c1, $c2 )));
}

@mixin focused {
  @include background-image(linear-gradient( rgba(255, 253, 102, 0.1), rgba(255, 253, 102, 0.07) ));
}

@mixin shadow($size: 20px) {
  @include box-shadow( rgba(0,0,0,0.5) $size $size $size);
}

@mixin card-size {
  height: $card-h;
  width: $card-w;
}