// -*- mode: css; tab-width: 2; -*-


@import "compass/css3";
@import "constants";
@import "components";

.card-browser, .hand {
  display: none;
  left: $side-panel-width + 10;

  border: 1px dashed $hand-border-color;
  background-color: rgba(255, 255, 255, 0.1);
  min-width: $card-w + 20;
  min-height: 195px;

  padding: 15px;
  padding-left: 10px;

  h2 {
      display: inline;
      position: relative;
      color: transparentize($highlight-color, 0.3);
  }

  .card {
    position: relative;
    float: left;
    margin-top: 15px;
    margin-right: 10px;
  }

 .button-bar {
    display: inline;
    font-size: 80%;
    a {
        margin-right: 5px;
        display: inline;
    }
  }

  &.card-over {
     @include focused;
  }

  @include shadow;
}


.hand {
  position: fixed;
  top: 10px;
  z-index: $hand-z-index;
}

.card-browser {
  position: absolute;
  top: 250px;
  z-index: $browser-z-index;
  width: $battlefield-width;
  background-color: rgba(0,0,0,0.7);
}

