// -*- mode: css; tab-width: 2; -*-

@import "compass/css3";
@import "constants";
@import "components";
@import '../buttons';


body {
  font-family: Georgia;
  color: white;
  background-image: url(/assets/fabric.png);

  .button {  @include button($orange);  }
  .highlight { color: $highlight-color }
  .warning   { color: red }

  input {
    @include transparent;
    @include border-radius;
    color: $orange;
    border: 1px solid #424242;
  }

  #overlay-container {
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $overlay-z-index;

    .info {
      @include single-text-shadow(black, 2px, 2px);
      background-color: opacify( $button-background-color, 1.0);
      padding: 4px 4px 4px 4px;
      border: 1px solid $button-border-color;

      position: relative;
      z-index: $overlay-z-index + 1;
      margin: 0 auto 0 auto;
      top: 30%;
      padding: 1em;

      h1 {
        color: $orange;
        font-size: 45px;
        text-align: center;
      }

      p {
        text-align: center;
        padding: 2em;
      }
    }
  }
}
