// -*- mode: css; tab-width: 2; -*-

@import "compass/reset";
@import "compass/css3";

@import "constants";
@import "components";

.button { font-size: 14px; }
.highlight { color: $highlight-color }
.warning   { color: red }

input {
  color: #C8B472;
  background: rgba(48, 0, 0, 0.5);
  border: 1px solid #693E1B;
  font-family: Georgia !important;
  @include border-radius;
}


#footer {
 color: gray;
 text-align: center;
 font-size: small;

 hr {
  background-color: black;
  height: 1px;
  border: none;
 }

 a { color: #bdbdbd; text-decoration: none }
 a:hover { color: $highlight-color }
}

