// -*- mode: css; tab-width: 2; -*-

@import "compass/css3";
@import "constants";
@import "components";


@mixin side-panel {
  position: absolute;
  width: $side-panel-width;
}

@mixin panel {
  label {
    position: relative;
    padding-bottom: 5px;
    font-size: smaller;
  }

  border: 0px solid #9D7C41;
}


#left-panel {
  top: 0px;
  @include side-panel;
  left: 0px;
  clear: right;

  .card {
    @include rotate(180deg);
    &.ui-draggable-dragging {
      @include rotate(0deg);
    }
  }
}

#right-panel {
  @include side-panel;
  right: 0px;
  bottom: 0px;
}

.side-panel {
  @include panel;

  .users, .commons {
    padding: 0.5em;
    .user.deck-over {  @include focused;   }
    form { display: inline; }

    h3 {
      @include transparent;
      padding: 3px;
      padding-bottom: 10px;
      font-size: larger;
      width: 100%;
    }

    table {
      borders: none;
      color: white;
      font-size: small;
      margin-bottom: 1em;

      td, th {
        borders: none;
        font-size: medium;
        text-align: center;
        padding: 1px;
        margin: 0 0 0 0;
      }
    }

    input {
      font-size: medium;
      padding: 3px;
      text-align: center;
      width: 2em;
    }
  }
}
