// -*- mode: css; tab-width: 2; -*-

@import "compass/css3";
@import "constants";
@import "components";


body {
  font-family: Georgia;
  color: white;
  background: #61461c image-url('brown-texture.png');
}

.side-panel {
  @include panel;

  .users, .commons {

    .user.deck-over {
      @include focused;
    }

    h3 {
      @include transparent;
      padding: 3px;
      padding-bottom: 10px;
      font-size: larger;
    }

    table {
      borders: none;
      color: white;
      font-size: small;
      margin-bottom: 1em;

      td { borders: none; }
    }

    input.lives {
      font-size: medium;
      padding: 3px;
      text-align: center;
      width: 2em;
      float: right;
    }

    .box-container {
        margin-bottom: 1em;
    }

    .box-container > h4 {
        @include side-panel-component;
        margin-bottom: 3px;
        font-size: 14px;
        padding: 5px;
    }
  }
}
