@import 'compass';
@import 'compass/css3';
@import 'constants';

#content .deck {
  position: relative;

  .deck_card {
    width: 12em; position: relative;
    float: left;
    margin-left: 1em;
  }

  .count {
      @include border-radius(0.75em);
      width: 1.5em;
      height: 1.5em;
      background-color: transparentize($orange,0.4);
      position: absolute;
      font-size: 2em;
      top: 0.9em;
      right: 0.5em;

      span {
        position: absolute;
        top: 0.17em;
        left: 0.4em;
      }
  }
  img { width: 100%; }
}
