@import 'compass/css3';
@import 'constants';
@import 'modules';


form.formtastic {

  margin-top: 4em;
  /* hide the 'required' asterisks */
  abbr { display: none; }

  li p.inline-errors {
    @include single-text-shadow(black,1px,1px);
  }

  p.inline-hints {
    @include single-text-shadow(black,1px,1px);
    font-size: $input-height * 0.8;
    color: $orange;
    text-align: center;
  }

  li.string input, li.text textarea {
   @include border-radius(10px);

   font-size: $input-height - 1px;
   border: 4px solid gray;
   width: 60%;
   max-height: 400px;
   padding: 0.3em;

   &:focus { border: 4px solid $orange; }
  }

  fieldset.buttons {
    @include center(400px);

    li {
      overflow: visible;
      float: none;
      display: inline;
     }

    input.create, a {
      @include button;
      padding: 5px 5px 5px 5px;
    }
  }

  label {
   font-size: 70%;
   line-height: $input-height;
   font-size: $input-height;
  }
}