@import 'compass/css3';
@import 'constants';

#content.games {
  #search-box {
  margin: 0 auto 0;
  width: $content-width - 250px;

  input {
    width: 100%;
    text-align: center;
    border-color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.2);
    @include border-radius;

    text-align: center;
    margin-top: 0.7em;
    margin-bottom: 2em;

    font-size: 40px;
    color: transparentize($orange, 0.6);
  }
}

form.formtastic {
}

table {
  width: $content-width;
  color: $white;

  tr {
    borders: 1px solid red;

    td, th {
      text-align: left;
      font-size: 24px;
      padding: 7px;
      border-bottom: 1px solid transparentize($white,0.5);

      a { color: white }

      &:last-child {
        text-align: center;
        min-width: 100px;
        a { color: $orange }
      }
    }
  }
}

  form.formtastic {
    margin-top: 5em;
  }
}