@import 'compass/css3';
@import 'constants';
@import 'modules';


$move: 100px;
$card-width: 200px;

$width: 1000px;
$step: $width / 7;


#outer {  @include absolutely-centered($width); }

#cards {
  top: 50px;
  width: 1000px;
  height: 200px;

  /*
    Using cycloid curve to round the cards:

     x(t) = t * (t - cos(t))
     y(t) = t * (1 - sin(t))  ; t from <0,2*PI>

     (http://en.wikipedia.org/wiki/Cycloid)
   */
  @for $i from 1 through 7 {
    $angle: -40deg + $i * 10deg;
    $step: (((2 * 3.14) - 3) / 8);
    $t: 1.5 + $step * $i;
    $r: 150px;

    img:nth-child(#{$i}) {
      @include box-shadow(rgba(black,0.4) 15px 15px 5px);
      width: $card-width;

      @include transition;

      position: absolute;
      left: -80px + $r * ($t - sin($t));
      bottom: 150px + $r * (1 - cos($t));

      @include rotate($angle);

      &:hover {
          @include box-shadow($highlight-color 0 0 10px, rgba(black,0.4) 15px 15px 5px);
          @include rotate(0deg);
          width: $card-width * 1.4;
          z-index: 1000;
      }
    }
  }
}


#button-bar {
  margin: 600px auto 0 auto;
  width: 500px;

  a.button { @include big-button;  }

  a:last-child { margin-left: 15px }
}
