/*
  Temporary design stolen from - http://www.css3maker.com/
*/

@import 'constants';
@import 'compass/css3';


a {
 &:visited { color: white }
}

.notice { color: $orange; }

body {
  font-family: "sans-serif";
  background-color: black;
  background-image: url(/assets/fabric.png);
  min-height: 2000px;
  color: white;

  #content { width: $content-width; margin: auto; }
  #flash_notice { color: $orange; font-size: larger; }
}

h1.hyper {
 width: 600pt;
 color: $orange;
 text-align: center;
 font-size: 70px;
 margin: 30pt auto 20pt;

 a { text-decoration: none; color: white; }

 sup {
   position: relative;
   left: -1em;
   top: -0.3em;
   font-size: 33%;
   color: $orange;
 }
}


ul.hmenu {
 @include border-radius;

 right: 0;
 top: 0;
 width: 100%;
 text-align: right;

 background-color: rgba(0,0,0,0.6);
 text-align: center;
 position: fixed;

 margin-top: 0;
 margin-left: 1em;
 padding: 0.4em;

  li {
    display: inline;
    float: right;
    margin-left: 1em;

    a {
      color: $white;
      &:visited { color: white }
      &:hover { color: $orange; }

      @include text-shadow;
      text-decoration: none;
      color: $white;
    }
  }
}
