@mixin center($width: 900px) {
  margin: 0 auto 0;
  width: $width;
}

@mixin absolutely-centered($w) {
  position: absolute;
  left: 50%;
  width: $w;

 .inner {
   position: relative;
   left: -50%;
 }
}


@mixin button {
    @include border-radius(10px);
    @include single-text-shadow(black, 2px, 2px);

    border: 1px solid rgba(1.0,1.0,1.0,0.3);
    padding: 2px 2px 2px 2px;

    text-decoration: none;
    color: white;

    background-color: grey;
    &:hover { background-color: $orange; }
}

@mixin big-button {
  @include button;

  padding: 10px 10px 10px 10px;
  line-height: 38px;
  font-size: 35px;
}

