@mixin center($width: 900px) {
  margin: 0 auto 0;
  width: $width;
}

@mixin absolutely-centered($w) {
  position: absolute;
  left: 50%;
  width: $w;

 .inner {
   position: relative;
   left: -50%;
 }
}
