<div class='status'>
  <select id='browser_selector' name=''>
    <option selected='selected' value='1'>Kolohnat's</option>
    <option value='2'>Smrada's</option>
    <option value='3'>Pajda's</option>
    <option value='4'>Kokta's</option>
  </select>
  <select id='hand_1' name='hand'>
    <option value='hand'>Hand</option>
    <option value='graveyard'>Graveyard</option>
    <option value='library'>Library</option>
  </select>
</div>
<div class='cards'>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>
  <div class='slot'>
    <img alt="Empty" src="/assets/empty.png" />
  </div>

</div>
