<div class='status'>

  Names:
  {{#each player in players}}
    {{player.name}} /     {{player.hand.length}}
  {{/each}}
  <select id='browser_selector' name=''>
    <option selected='selected' value='1'>Kolohnat</option>
  </select>
  <select id='hand_1' name='hand'>
    <option value='hand'>Hand</option>
    <option value='graveyard'>Graveyard</option>
    <option value='library'>Library</option>
  </select>
</div>
<div class='cards'>
    {{#each card in players.firstObject.hand }}
      <div class='slot'>
        <img {{bind-attr src=card.frontside }} />
      </div>
    {{/each}}
</div>
