<div class='status'>
  Names:
  {{current_player.name}}({{current_player.id}})
  <select id='browser_selector' name=''>
    <option selected='selected' value='1'>Kolohnat</option>
  </select>
  <select id='hand_1' name='hand'>
    <option value='hand'>Hand</option>
    <option value='graveyard'>Graveyard</option>
    <option value='library'>Library</option>
  </select>
</div>
<div class='cards'>
    {{#each card in current_player.hand }}
      {{view Mana.BrowserCardView content=card }}
    {{else}}
      <div class='spaceholder'>There are no cards.</div>
    {{/each}}
</div>
