<div class='status'>
  Names:
  {{current_player.name}} / {{current_player.hand.length}}
  <select id='browser_selector' name=''>
    <option selected='selected' value='1'>Kolohnat</option>
  </select>
  <select id='hand_1' name='hand'>
    <option value='hand'>Hand</option>
    <option value='graveyard'>Graveyard</option>
    <option value='library'>Library</option>
  </select>
</div>
<div class='cards'>
    {{#each card in current_player.hand }}
      <div draggable="true" class='slot'>
        <img {{bind-attr src=card.frontside }} />
      </div>
    {{/each}}
</div>
