{{outlet}}

<div class="cards">
  {{#each }}
    {{#if all_visible}}
      <img {{bind-attr src=frontside }} />
    {{else}}
      <img {{bind-attr src=view.backImage}} width="200">
    {{/if}}
  {{/each}}
</div>
