<div class="chat">
  <div class="status">
   Chat
  </div>
  <input placeholder="Say...">
  <br>
        <pre>Kolohnat: let's play
Smrada: wait
Kolohnat: ok
Kolohnat: ok
Smrada has left the game.
Kolohnat: ok</pre>
</div>