<div class="status">Chat</div>
<form {{action "send_message" on="submit"}} >
  {{input type="text" placeholder="Say.."  value=new_chat_message autofocus='autofocus'}}
  {{input type="submit" value="Send"}}
</form>
<table>
  {{view Ember.CollectionView content=messages tagName=tbody itemViewClass=Mana.MessageView }}
</table>
