        <div class="status">
          Decks
        </div>
        <div class="piles">
          <div class="pile">
            <img alt="Back" src="/assets/back.jpg">
            <button class="pile-label">Library: 53</button>
          </div>
          <div class="pile">
            <img alt="Back" src="/assets/back.jpg">
            <button class="pile-label">Grave: 4</button>
          </div>
          <div class="pile">
            <img alt="Back" src="/assets/back.jpg">
            <button class="pile-label">Exile: 4</button>
          </div>
          <div class="pile">
            <button class="next-turn">
              Next
              Turn
            </button>
          </div>
        </div>
