<div class='controls'>
  {{view Mana.BrowserView holder=current_player.hand }}

  <div class="decks">
    <div class="status">
      Decks
    </div>

    <div class="piles">
      {{#with current_player.deck }}
        {{ partial "pile_with_title" }}
      {{/with}}

      <div class="pile-container">
        <button class="next-turn">
          Next  Turn
        </button>
      </div>
    </div>
  </div>

  {{view Mana.ChatView}}
</div>
<div class='tables'>
  {{#each player in players}}
    {{view Mana.TableView player=player}}
  {{/each}}
</div>
