<div class='controls'>
  {{view Mana.BrowserView holder=current_player.hand player_id=current_player.id }}
  {{view Mana.DecksView}}
  {{view Mana.ChatView}}
</div>
<div class='tables'>
  {{#each player in players}}
    {{view Mana.TableView player=player}}
  {{/each}}
</div>
