<div class='controls'>
  {{view Mana.BrowserView}}
  {{view Mana.DecksView}}
  {{view Mana.ChatView}}
</div>
<div class='tables'>
  {{#each player in players}}
    {{view Mana.TableView player=player}}
  {{/each}}
</div>
