<div class="status">
  {{ player.name }}({{ player.id }})
</div>
<div class="slots">
  {{#each slot in player.battlefield_slots}}
   {{view Mana.SlotView content=slot.cards holder=slot.cards position=_view.contentIndex player_id=player.id }}
  {{/each}}
</div>
