<div class="status">
  {{ player.name }}({{ player.id }})
</div>
<div class="slots">
  {{#each slot in player.battlefield_slots}}
   {{view Mana.SlotView content=slot.cards holder=slot position=_view.contentIndex }}
  {{/each}}
</div>
