$button-border-color: rgba(1.0,1.0,1.0,0.3);
$button-background-color: rgba(128, 128, 128, 0.7);

@mixin button($color) {
  @include border-radius(2px);

  padding: 4px 4px 4px 4px;
  border: 1px solid $button-border-color;
  text-decoration: none;

  &:hover { background-color: $color; color: black; }
  cursor: pointer;

  color: white;
  background-color: $button-background-color;
  text-decoration: none;
}

@mixin big-button($color) {
  @include button($color);
  @include border-radius(10px);
  padding: 10px 10px 10px 10px;
  line-height: 38px;
  font-size: 20px;
}